$bgcolor: rgb(39, 127, 179);

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgcolor;
    color: black;
    background-image: url('../images/photo.jpg');
    height: 80px;
}